/* social bar */
.social-bar {
  background-color: #0a2722;
  color: #afbdbb;
  padding-top: 10px;
}
.social-bar .list ul li {
  display: inline-block;
  margin-right: 15px;
}

.social-bar .list ul li a {
  text-decoration: none;
  color: #afbdbb;
}
.icon-clock {
  margin-left: 5px;
  margin-right: 20px;
}
.social {
  margin-left: 15px;
}

.social i {
  padding-right: 5px;
}
.social i:hover {
  color: #8bc43f;
}

.social-bar .list ul li a:hover {
  color: #8bc43f;
}
.list {
  position: relative;
}
.list i {
  font-size: 5px;

  padding-right: 5px;
}
.fa-clock {
  color: #8bc43f;
}

@media (max-width: 992px) {
  .social-bar .col-lg-6,
  .social-bar .col-xl-7,
  .social-bar .col-xl-5 {
    text-align: center;
  }
}
/* end social bar */

/* logooooooooo */

.sup-img i {
  color: #8bc43f;
  font-size: 50px;
}

.loc-img i {
  color: #8bc43f;
  font-size: 50px;
}

.appointment {
  width: 100%;
}
.btn-green {
  width: 100%;
  border: 2px solid #eeeeee;
  background-color: transparent;
  color: #000;
  height: 50px;
  border-radius: 30px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 5px;
}
.btn-green:hover {
  width: 100%;
  border: none;
  background-color: #8bc43f;
  color: #fff;
  height: 50px;
  border-radius: 30px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 5px;
}
.btn-green:hover i {
  color: #fff;
}
.btn-green i {
  padding-right: inherit;
  color: #8bc43f;
}
.btn-green i:hover {
  padding-right: inherit;
  color: #fff !important;
}
@media (max-width: 1999px) {
  .appointment {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .logo-area .col-xl-4,
  .logo-area .col-lg-4,
  .logo-area .col-md-8,
  .logo-area .col-md-6 {
    justify-content: center;
    text-align: center;
    margin-top: 15px;
  }
  .appointment {
    width: 50%;
  }
}

/* nav bar */
.navigation .btn-right {
  position: absolute;
  background-color: #8bc43f;
  right: 0;
  border: none;
  width: 60px;
  height: 100%;
  text-align: center;
  cursor: pointer;
}
.navigation .btn-right .span-btn {
  position: relative;
}
.navigation .btn-right .b1 {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 30px;
  height: 2px;
  background: #ffffff;
}
.navigation .btn-right hr {
  width: 30px;
  height: 2px;
  background: #ffffff;
}
.navigation .btn-right p {
  margin-top: -8px;
}
.mr-auto,
.mx-auto {
  margin-right: 0 !important;
}
@media (max-width: 992px) {
  .navigation .btn-right {
    height: 50px;
  }
}
.bg-light {
  background-color: #32b6a1 !important;
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #000;
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #000;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  border-right: 1px solid #2fa895;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 600;
}
.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff !important;
  background-color: transparent !important;
  border-color: #fff !important;
}
.btn-outline-success {
  color: #fff !important;
  border-color: #fff !important;
}
.btn-outline-success:hover {
  background-color: transparent;
  color: #fff !important;
  border-color: #fff !important;
}
.btn-outline-success {
  color: #fff !important;
  border-color: #fff !important;
  border-top-color: #fff !important;
  border-right-color: #fff !important;
  border-bottom-color: #fff !important;
  border-left-color: #fff !important;
}
@media (max-width: 576px) {
  .form-inline {
    flex-flow: nowrap;
  }
  .form-control {
    margin-right: 10px;
  }
}

/* breadcrump-bar */
.breadcrump-bar {
  background-image: url("../images/breadcrumb-bg.jpg");
  background-attachment: scroll;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 75px 0 75px;
  position: relative;
  z-index: 2;
}
.breadcrump-bar h1 {
  color: #ffffff;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-transform: capitalize;
}
.breadcrump-txt::before {
  background: rgba(139, 196, 66, 0.6);
  content: "";
  height: 215px;
  left: -14%;
  position: absolute;
  top: 0;
  width: 60%;
  z-index: -1;
  transform: skew(40deg, 0deg);
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}

.breadcrumb {
  background-color: transparent;
}
.breadcrumb-item.active {
  color: #8bc43f;
}
.breadcrumb-item a:hover {
  color: #8bc43f;
  font-weight: 700;
  text-decoration: none;
}
.breadcrumb-item a {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}

/* Payment1 baaaar  */
.Payment1-bar .title {
  text-align: center;
  margin: 80px 0 50px;
}
.Payment1-bar .title h1 {
  font-weight: 700;

  color: #303030;
}
.Payment1-bar .title p {
  color: #8b8b8b;
}
.Payment1-bar .price-item {
  position: relative;
  background-color: #f5f5f5;
  text-align: center;
  padding: 27px 30px 30px;
  transform: translate3d(0px, 0px, 0px);
  transition: all 500ms ease;
  transition-delay: 0.5s;
}
.Payment1-bar .price-item:hover {
  border-bottom: 10px solid #32b6a1;
  transform: translate3d(0px, -20px, 0px);
}
.Payment1-bar .price-item .price-title h3 {
  color: #303030;
  font-weight: 700;
}
.Payment1-bar .price-item .price-title p {
  color: #8b8b8b;
  font-weight: 400;
}
.Payment1-bar .price-item .price-title {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 23px;
}

.Payment1-bar .price-item .price-header {
  padding-top: 15px;
  padding-bottom: 13px;
}
.Payment1-bar .price-item .price-header h1 {
  font-size: 72px;
  color: #303030;
  font-weight: 700;
}

.Payment1-bar .price-item .price-header h1 span {
  font-size: 24px;
  color: #303030;
  font-weight: 700;
}

.Payment1-bar .price-item .price-list {
  background-color: #fff;
  padding: 0 40px 0px;
}
.Payment1-bar .price-item .price-list ul {
  padding: 21px 0 19px;
}
.Payment1-bar .price-item .price-list ul li {
  list-style: none;
  color: #8b8b8b;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 0;
  font-weight: 500;
}
.Payment1-bar .price-item .price-list ul li:last-child {
  border: none;
}
.Payment1-bar .price-item .price-btn {
  margin: 45px 0 15px;
}

.Payment1-bar .price-item .price-btn a {
  background: transparent;
  color: #32b6a1;
  border: 2px solid #32b6a1;
  padding: 17px 55px 17px;
  border-radius: 30px;
  text-decoration: none;
}

.Payment1-bar .price-item .price-btn a:hover {
  background: #32b6a1;
  color: #fff;
  border: 2px solid #32b6a1;
}

/* Payment2 baaaar  */
.Payment2-bar .title {
  text-align: center;
  margin: 80px 0 50px;
}
.Payment2-bar .title h1 {
  font-weight: 700;

  color: #303030;
}
.Payment2-bar .title p {
  color: #8b8b8b;
}
.Payment2-bar .price-item {
  position: relative;
  border-top: 3px solid #8bc43f;
  border-bottom: 3px solid #32b6a1;
  text-align: center;
  padding: 27px 30px 30px;
  transform: translate3d(0px, 0px, 0px);
  transition: all 500ms ease;
  transition-delay: 0.5s;
}
.Payment2-bar .price-item:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 3px;
  content: "";
  transform: scaleY(1);
  background: rgb(136, 196, 66);
  background: -moz-linear-gradient(
    top,
    rgba(136, 196, 66, 1) 0%,
    rgba(51, 182, 160, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(136, 196, 66, 1) 0%,
    rgba(51, 182, 160, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(136, 196, 66, 1) 0%,
    rgba(51, 182, 160, 1) 100%
  );
}
.Payment2-bar .price-item:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 3px;
  content: "";
  transform: scaleY(1);
  background: rgb(136, 196, 66);
  background: -moz-linear-gradient(
    top,
    rgba(136, 196, 66, 1) 0%,
    rgba(51, 182, 160, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(136, 196, 66, 1) 0%,
    rgba(51, 182, 160, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(136, 196, 66, 1) 0%,
    rgba(51, 182, 160, 1) 100%
  );
}
.Payment2-bar .price-item:hover {
  -webkit-box-shadow: 0px 3px 7px 2px #d9d9d9;
  box-shadow: 0px 3px 7px 2px #d9d9d9;
  transform: translate3d(0px, -20px, 0px);
}
.Payment2-bar .price-item .price-title h3 {
  color: #303030;
  font-weight: 700;
}
.Payment2-bar .price-item .price-title p {
  color: #8b8b8b;
  font-weight: 400;
}
.Payment2-bar .price-item .price-title {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 23px;
}

.Payment2-bar .price-item .price-header {
  padding-top: 15px;
  padding-bottom: 13px;
}
.Payment2-bar .price-item .price-header h1 {
  font-size: 72px;
  color: #303030;
  font-weight: 700;
}

.Payment2-bar .price-item .price-header h1 span {
  font-size: 24px;
  color: #303030;
  font-weight: 700;
}

.Payment2-bar .price-item .price-list {
  background-color: #fff;
  padding: 0 40px 0px;
}
.Payment2-bar .price-item .price-list ul {
  padding: 21px 0 19px;
}
.Payment2-bar .price-item .price-list ul li {
  list-style: none;
  color: #8b8b8b;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 0;
  font-weight: 500;
}
.Payment2-bar .price-item .price-list ul li:last-child {
  border: none;
}
.Payment2-bar .price-item .price-btn {
  margin: 45px 0 15px;
}

.Payment2-bar .price-item .price-btn a {
  background: transparent;
  color: #303030;
  border: 2px solid #eeeeee;
  padding: 17px 55px 17px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
}

.Payment2-bar .price-item .price-btn a:hover {
  background: #32b6a1;
  color: #fff;
  border: 2px solid #32b6a1;
}

/* footer contact*/
.location-bar {
  position: relative;
  z-index: 1;
  background-color: #32b6a1;
  color: #fff;
  width: 100%;
  height: 160px;
  top: 80px;
}
.location-bar i {
  font-size: 60px;
  padding-right: 40px;
}
.location-bar a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
}
.location-bar h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.calender-bar {
  position: relative;
  z-index: 1;
  background-color: #8bc43f;
  color: #fff;
  width: 100%;
  height: 160px;
  top: 80px;
}
.calender-bar i {
  font-size: 60px;
  padding-right: 40px;
}
.calender-bar a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
}
.calender-bar h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
/* footer baaaaaaaaaaaar*/
.footer-bar footer {
  margin-top: 160px;
}
.footer-bar {
  background-color: #0a2722;
  padding: 25px 0;
}
.footer-bar .border-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
}
.footer-bar .social-footer i {
  color: #afbdbb;
  padding-right: 5px;
}
.footer-bar .social-footer i:hover {
  color: #8bc43f;
}
.footer-bar .center-footer span {
  color: #afbdbb;
}
.footer-bar .center-footer a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
.footer-bar .center-footer a:hover {
  color: #8bc43f;
}
.footer-bar .right-footer {
  text-align: right;
}
.footer-bar .right-footer li {
  color: #afbdbb;
  display: inline-block;
}

.footer-bar .right-footer li a {
  color: #afbdbb;
  padding-right: 20px;
}
@media (max-width: 991px) {
  .footer-bar .left-footer {
    text-align: center;
  }
  .footer-bar .center-footer {
    text-align: center;
  }
  .footer-bar .right-footer {
    text-align: center;
  }
}
.footer-bar .logo-footer p {
  color: #afbdbb;
}
.footer-bar .specialities-footer p {
  color: #afbdbb;
}
.footer-bar .facilities-bar p {
  color: #afbdbb;
}
.footer-bar .opening-footer p {
  color: #afbdbb;
}

.footer-bar .logo-footer h3 {
  color: #fff;
}
.footer-bar .specialities-footer h3 {
  color: #fff;
}
.footer-bar .facilities-bar h3 {
  color: #fff;
}
.footer-bar .opening-footer h3 {
  color: #fff;
}
.footer-bar .specialities-footer i {
  padding-right: 10px;
}
.footer-bar .facilities-bar i {
  padding-right: 10px;
}
.footer-bar .specialities-footer p:hover {
  color: #8bc43f;
  cursor: pointer;
}
.footer-bar .facilities-bar p:hover {
  color: #8bc43f;
  cursor: pointer;
}
.footer-bar .specialities-footer .border-foot {
  width: 30px;
  height: 3px;
  background-color: #32b6a1;
}
.footer-bar .facilities-bar .border-foot {
  width: 30px;
  height: 3px;
  background-color: #32b6a1;
}
.footer-bar .opening-footer .border-foot {
  width: 30px;
  height: 3px;
  background-color: #32b6a1;
}
.footer-bar .opening-footer time {
  color: #afbdbb;
}
.footer-bar .opening-footer span {
  color: #8bc43f;
}
.footer-bar .btn-footer {
  width: 150px;
  height: 40px;
  background: #32b6a1;
  color: #ffffff;
  border-radius: 30px;
  border: none;
}
.footer-bar .btn-footer:hover {
  color: #fff;
  background: #8bc43f;
}
